<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Signup</title>
 </head>
 <body>
<form method= "POST" action= '/sessions'

<h1>Log In Below: Let's create our login form! </h1>
<p>Name: <input type="text"></p>
  <p>Email: <input type="text"></p>
  <p>Password: <input type="text"></p>
  <input type="submit" name="submit" value="submit" id="submit">
</form>
</body>
</html>


