#route in our controller
#This form will POST to the post '/registrations' route in our controller.
<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Signup</title>
 </head>
 <body>
<form method= "POST" action= '/registrations'
<h1>Sign Up Below:</h1>
<p>Name: <input type="text"></p>
  <p>Email: <input type="text"></p>
  <p>Password: <input type="text"></p>
  <input type="submit" name="submit" value="submit" id="submit">
</form>
</body>
</html>
